<br>
<h4> {{titulo}} </h4>
<hr>
<form (ngSubmit)="validar_accion()">
  <div class="row">

    <div class="col-md-12">
      <mat-form-field>
        <input matInput type="url" placeholder="Ingrese la url del video" [(ngModel)]="item.url_video" name="url_video">
      </mat-form-field>

    </div>
    <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="Descripcion" [(ngModel)]="item.descripcion" name="descripcion">
        </mat-form-field>

      </div>
    <div class="col-md-12">
        <button class="btn btn-success pull-right">Registrar</button>

    </div>
  </div>
</form>
