<div class="contenedor">
  <form (ngSubmit)="loguear()" class="login-form">
    <img src="assets/imagenes/logo.png" alt="" class="logo">
    <div class="titulo"> ACCESO AL SISTEMA </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput required [formControl]='usuario' [(ngModel)]="login.usuario" name="usuario"
            placeholder="Usuario:">
          <mat-error *ngIf="usuario.hasError('required')">
            El usuario es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput required [formControl]='clave' [(ngModel)]="login.clave" name="clave"
            placeholder="Clave de acceso:" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="clave.hasError('required')">
            La clave es
            <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit"
          *ngIf="!usuario.hasError('required') && clave.valid">Entrar</button>
      </div>
    </div>
  </form>
</div>
