$moviles: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.contenedor{
  /*background-image: url("/assets/imagenes/fondo-login.jpg");*/
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  max-height: 100vh !important;
  margin: auto !important;
  display: flex !important;
  flex-direction: column !important;
  padding-top: 15px !important;

  .login-form {
    text-align: center;
    width: 325px;
    margin: auto;
    padding: 25px;
    background: #ffffffb5;
    border-radius: 8px;
    border: 2px outset rgba(0, 0, 0, 0.38);
  }
}

.titulo{
  display: block;
  margin: auto;
  font-weight: bold !important;
  color: #2b3b4d !important;
  font-size: 20px !important;
  text-align: center;
}

.logo{
  width: 100%;
}
@media #{$moviles} {
  .contenedor {
    .login-form{
      width: 90% !important;
    }
  }
}
