<titulo-seccion titulo="Mis Canciones"></titulo-seccion>

<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <input matInput placeholder="Realice busqueda por nombre" [(ngModel)]="busqueda">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
  <div class="table-responsive">
    <table class="table table-striped" [mfData]="data | filtro:'texto_buscable':busqueda" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">

      <thead>
        <tr>
          <th width="3%">#</th>
          <th>Nombre</th>

          <th width="5%"><a mat-mini-fab class="bg-success" (click)="modal_registrar_cancion(false)"
              title="Registrar">
              <mat-icon>add</mat-icon>
            </a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i=index" >
          <td align="center"><strong>{{i+1}}</strong></td>
          <td  (click)="modal_registrar_cancion(true,item)" style="cursor:pointer">{{item.nombre}}</td>


          <td align="center">
            <a style="text-decoration: none; cursor:pointer;" [matMenuTriggerFor]="appMenu"
              [matMenuTriggerData]="{item: item}">
              <mat-icon>more_vert</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>


  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button (click)="modal_registrar_cancion(true,item)" mat-menu-item>
        <mat-icon >mode_edit</mat-icon>
        <span>Editar</span>
      </button>
      <button (click)="eliminar(item.idcancion)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>
