<titulo-seccion titulo="Mis Artistas"></titulo-seccion>

<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <input matInput placeholder="Realice busqueda por genero o nombre" [(ngModel)]="busqueda">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped" [mfData]="data | filtro:'texto_buscable':busqueda" #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage">

    <thead>
      <tr>
        <th width="3%">#</th>
        <th>GENERO MUSICAL</th>
        <th>NOMBRE ARTISTA/GRUPO</th>
        <th>CELULAR</th>
        <th>CORREO</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data;let i=index" (click)="seleccionar(item)">
        <td align="center"><strong>{{i+1}}</strong></td>

        <td align="center"  style="cursor:pointer">{{item.genero}}</td>
        <td  style="cursor:pointer">{{item.nombre}} </td>
        <td align="center"  style="cursor:pointer">{{item.celular}}</td>
        <td align="center"  style="cursor:pointer">{{item.correo}}</td>


      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>

  </table>
</div>



