<titulo-seccion titulo="Registro de Artistas" anterior="/dash/artistas" *ngIf="!item.idartista"></titulo-seccion>
<titulo-seccion titulo="Edicion de Artistas" anterior="/dash/artistas" *ngIf="item.idartista"></titulo-seccion>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home"> <span *ngIf="!item.idartista">REGISTRAR ARTISTA</span><span *ngIf="item.idartista">EDITAR ARTISTA</span></a></li>
  <li *ngIf="item.idartista"><a data-toggle="tab" href="#menu1">Canciones</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <br>
    <form (ngSubmit)="guardar()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Genero Musical" [(ngModel)]="item.genero" required  [formControl]="genero" name="genero">
            <mat-error *ngIf="genero.hasError('required')">
                El
                <strong>genero</strong> es requerido
              </mat-error>
              <mat-error *ngIf="!genero.hasError('required')">
                Solo letras
              </mat-error>
          </mat-form-field>

        </div>


        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Nombre Artista/Grupo" [(ngModel)]="item.nombre" required  [formControl]="nombre" name="nombre">
            <mat-error *ngIf="nombre.hasError('required')">
                El
                <strong>nombre</strong> es requerido
              </mat-error>
              <mat-error *ngIf="!nombre.hasError('required')">
                Solo letras
              </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="item.celular" name="celular">
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="email" placeholder="Correo" [(ngModel)]="item.correo" required  [formControl]="correo" name="correo">
            <mat-error *ngIf="!correo.hasError('required')">
                El
                <strong>correo</strong> no es valido
              </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-12">
          <button class="btn btn-success pull-right" *ngIf="genero.valid && nombre.valid">Registrar</button>

        </div>
      </div>
    </form>
  </div>
  <div id="menu1" class="tab-pane fade">
    <br>
    <app-canciones [idartista]="item.idartista"></app-canciones>
  </div>

</div>



