<titulo-seccion titulo="Mis Planillas"></titulo-seccion>

<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <input matInput placeholder="Realice busqueda por artista u responsable" [(ngModel)]="busqueda">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped" [mfData]="data | filtro:'texto_buscable':busqueda" #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage">

    <thead>
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">ARTISTA</th>
        <th rowspan="2">PAIS</th>
        <th rowspan="2">CIUDAD</th>
        <th rowspan="2">FECHA</th>
        <th colspan="2">EVENTOS</th>
        <th colspan="3">RESPONSABLE</th>
        <th width="5%" rowspan="2"><a mat-mini-fab class="bg-success" routerLink="registrar" title="Registrar">
            <mat-icon>add</mat-icon>
          </a></th>
      </tr>
      <tr>

        <th>NOMBRE</th>
        <th>LUGAR </th>
        <th>NOMBRE</th>
        <th>TELEFONO </th>
        <th>DIRECCION </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data; let i=index">
          <td  align="center"><strong>{{i+1}}</strong></td>
         <td  style="cursor:pointer">{{item.nombre}}</td>
         <td  style="cursor:pointer">{{item.pais}}</td>
         <td  style="cursor:pointer">{{item.ciudad}}</td>
         <td  style="cursor:pointer">{{item.fecha | date:'dd/MM/yyyy'}}</td>
         <td  style="cursor:pointer">{{item.nombre_evento}}</td>
         <td  style="cursor:pointer">{{item.lugar_evento}}</td>
         <td  style="cursor:pointer">{{item.responsable}}</td>
         <td  style="cursor:pointer">{{item.telefono_responsable}}</td>
         <td  style="cursor:pointer">{{item.direccion_responsable}}</td>


        <td align="center">
          <a style="text-decoration: none; cursor:pointer;" [matMenuTriggerFor]="appMenu"
            [matMenuTriggerData]="{item: item}">
            <mat-icon>more_vert</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="11">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>

  </table>
</div>


<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <!--<button [routerLink]="['editar',item.idplanilla]" mat-menu-item>
      <mat-icon>mode_edit</mat-icon>
      <span>Editar</span>
    </button>-->
    <button [routerLink]="['impresion',item.idplanilla]" mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>Ver Planilla</span>
      </button>
    <button (click)="eliminar(item.idplanilla)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
