<titulo-seccion titulo="Mis Videos"></titulo-seccion>
<br>
<div class="row">
  <div class="col-md-12">
    <br>
    <a mat-mini-fab class="bg-success" (click)="modal_registrar_video(false)" title="Registrar">
      <mat-icon>add</mat-icon>
    </a>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-4" *ngFor="let item of videos">
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(item.url_video)' width="100%" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="text-center" style="border:1px solid #ccc;padding:10px;margin-top:-5px !important">
      <button class="btn btn-danger" (click)="eliminar(item.idvideo)" title="Eliminar"><i class="fa fa-trash"></i></button>&nbsp;&nbsp;
      <button class="btn btn-primary" (click)="modal_registrar_video(true,item)" title="Editar"><i class="fa fa-edit"></i></button>

    </div>
  </div>
</div>
