.wrapper-impresion{
  background: #ebebeb;
  padding: 25px;
  margin-top: 10px;
  overflow: hidden !important;
  font-size: 15px !important;
  .hoja-a4{
    margin: 0px auto;
    background: white;
    /*box-shadow: 0px 0px 3px #999;*/
    width: 270mm;
    padding: 10mm;
  }

}



