
<div class="row">
    <div class="col-md-6 col-xs-6">
      <h3>Exportación de Planilla</h3>
    </div>
    <div class="col-md-6 col-xs-6 text-right">
      <button class="btn btn-sm btn-success" (click)="exportar_a_pdf()">
        <i class="fa fa-download"></i> Exportar a PDF</button> &nbsp;
        <a href="javascript:void(0)"  routerLink="/dash/planillas"   class="btn btn-sm btn-warning" *ngIf="nivel==1">
          <i class="fa fa-angle-double-left"></i> Volver a Listado
        </a>
        <a href="javascript:void(0)"  routerLink="/dash/planilla"   class="btn btn-sm btn-warning" *ngIf="nivel==2">
          <i class="fa fa-angle-double-left"></i> Volver a Listado
        </a>
    </div>
  </div>
  <hr class="dashed">

<div class="wrapper-impresion">
    <div class="hoja-a4" id="area-exportacion">


      <div class="row">
        <br>
        <div class="col-md-3 col-xs-3">
          <h2><strong>MUSICAL</strong></h2>
        </div>
        <div class="col-md-9 col-xs-9">
          Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Officia, atque? Consequuntur non laborum debitis, quibusdam adipisci expedita, autem ab temporibus,
          dignissimos nemo eius! Hic est voluptas, reiciendis aliquam nobis odit.
        </div>

      </div>
      <div class="row">
        <br>
        <h3 class="text-center"> <strong>PLANILLA DE EJECUCION MUSICAL</strong></h3>
      </div>
      <div class="row">

        <div class="col-md-3 col-xs-3">
            <mat-form-field>
              <input matInput  placeholder="NIC" [(ngModel)]="item.nic" name="nic">
            </mat-form-field>

          </div>
        <div class="col-md-9 col-xs-9 text-right">
          <h4> <strong>{{nro_planilla}}</strong> </h4>
          <br>
            <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-3">
          <mat-form-field>
            <input matInput  placeholder="Artista" [(ngModel)]="artista" name="artista">
          </mat-form-field>

        </div>
        <div class="col-md-3 col-xs-3">
          <mat-form-field>
            <input matInput placeholder="Pais" [(ngModel)]="item.pais" name="pais">
          </mat-form-field>

        </div>
        <div class="col-md-3 col-xs-3">
          <mat-form-field>
            <input matInput placeholder="Ciudad" [(ngModel)]="item.ciudad" name="ciudad">
          </mat-form-field>

        </div>
        <div class="col-md-3 col-xs-3">
          <mat-form-field>
            <input matInput type="date" placeholder="Fecha" [(ngModel)]="item.fecha" name="fecha">
          </mat-form-field>

        </div>
        <div class="col-md-6 col-xs-6">
          <mat-form-field>
            <input matInput placeholder="Nombre Evento" [(ngModel)]="item.nombre_evento" name="nombre_evento">
          </mat-form-field>

        </div>
        <div class="col-md-6 col-xs-6">
          <mat-form-field>
            <input matInput placeholder="Lugar Evento" [(ngModel)]="item.lugar_evento" name="lugar_evento">
          </mat-form-field>

        </div>
        <div class="col-md-5 col-xs-5">
          <mat-form-field>
            <input matInput placeholder="Responsable" [(ngModel)]="item.responsable" name="responsable">
          </mat-form-field>

        </div>
        <div class="col-md-3 col-xs-3">
          <mat-form-field>
            <input matInput placeholder="Telefono Responsable" [(ngModel)]="item.telefono_responsable"
              name="telefono_responsable">
          </mat-form-field>

        </div>
        <div class="col-md-4 col-xs-4">
          <mat-form-field>
            <input matInput placeholder="Direccion Responsable" [(ngModel)]="item.direccion_responsable"
              name="direccion_responsable">
          </mat-form-field>

        </div>

      </div>

      <div class="row">
        <br>
        <h1 class="text-center"><strong>Declaracion Jurada</strong><br></h1>
        <div class="col-md-12 col-xs-12">
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus incidunt culpa est, officia neque excepturi ex
          dolores, voluptatibus placeat officiis nulla nostrum, minus perspiciatis dolorem possimus! Similique at quas cum?
          <br>
          <br>
        </div>
      </div>

      <div class="table-container">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>N° cancion</th>
              <th>Titulo-Tema</th>
              <th>Autor/Compositor</th>
              <th width="10%">N° veces</th>
              <th>Otrod datos - Album</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of detalle_venta; let ind = index">
              <td align="center">
                {{ind+1}}
              </td>
              <td>
                {{prod.tema | uppercase}}
              </td>
              <td align="center">{{prod.autor | uppercase}}</td>
              <td align="center">
                  {{prod.veces}}
              </td>
              <td align="center">{{prod.otros}}</td>

            </tr>
          </tbody>
        </table>
        <div class="row">
            <br>
            <br>
            <div class="col-md-12 col-xd-12">
              <mat-form-field>
                <textarea matInput placeholder="Observaciones" [(ngModel)]="item.descripcion"
                  name="observaciones" rows="4"></textarea>

              </mat-form-field>

            </div>
          </div>
      </div>

    </div>


</div>


