<div class="titulo">
  <div class="row">
    <div class="col-md-12 text-center" >
        <h1><strong>MUSIC FOR LIFE</strong></h1>
    </div>
    <div class="col-md-12 vision">
      <h3 class="text-center">VISION</h3>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consectetur quisquam distinctio maxime doloremque dolorem nam iure eos dolore minima, placeat incidunt, omnis aliquam. Animi dolorum quaerat minus maiores quas.
      </div>
    </div>
    <div class="col-md-12 mision">
        <h3 class="text-center">MISION</h3>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consectetur quisquam distinctio maxime doloremque dolorem nam iure eos dolore minima, placeat incidunt, omnis aliquam. Animi dolorum quaerat minus maiores quas.
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 " *ngIf="nivel==1">
    <div class="panel usuarios">
      <div class="contenido">
        <h3>{{usuarios}}</h3>
        <p>Usuarios</p>
      </div>
      <div class="icon">
        <i class="fa fa-user "></i>
      </div>
      <a [routerLink]="['/dash/usuarios']"> Mas Info
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-md-3 " *ngIf="nivel==1">
    <div class="panel artistas">
      <div class="contenido">
        <h3>{{artistas}}</h3>
        <p>Artistas</p>
      </div>
      <div class="icon">
        <i class="fa fa-child "></i>
      </div>
      <a [routerLink]="['/dash/artistas']"> Mas Info
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-md-3 " *ngIf="nivel==1">
    <div class="panel planillas">
      <div class="contenido">
        <h3>{{planillas}}</h3>
        <p>Planillas</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text-o  "></i>
      </div>
      <a [routerLink]="['/dash/planillas']"> Mas Info
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-md-3 " *ngIf="nivel==1">
      <div class="panel videos">
        <div class="contenido">
          <h3>{{video}}</h3>
          <p>Videos</p>
        </div>
        <div class="icon">
          <i class="fa fa-video-camera"></i>
        </div>
        <a [routerLink]="['/dash/configuracion/videos']"> Mas Info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>

  <div class="col-md-3 " *ngIf="nivel==2">
    <div class="panel planillas">
      <div class="contenido">
        <h3>{{planilla_user}}</h3>
        <p>Planillas</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text-o  "></i>
      </div>
      <a [routerLink]="['/dash/planilla']"> Mas Info
        <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>




</div>

<br>
<div class="row" *ngIf="nivel==2">
  <div class="col-md-6" *ngFor="let item of videos">
    <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(item.url_video)' width="100%" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>

  </div>
</div>
