$moviles: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
.titulo{
  padding-top:25px;
  padding-bottom: 25px;
.vision{
  h3{ padding:20px !important;}
}
.mision{
  h3{
    padding: 20px !important;
  }
}
}
.panel{
  color:white;
  border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  .contenido{
    padding: 10px;
    h3{
      z-index: 5;
      font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    }
    p{
      z-index: 5;

      font-size: 15px;
    }

  }
  .icon{

    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 65px;
    z-index: 0;
    color: rgba(0, 0, 0, 0.15);
  }
  a{
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

}
.venta{

  border:1px solid rgb(62, 194, 25);
  background:  #00a65a !important;
}
.usuarios{
background: #00c0ef !important;
  border:1px solid rgba(28, 123, 155, 0.755);
}
.artistas{
  background: #6544d1 !important;
  border:1px solid #6544d13e;
}
.planillas{
background: #f39c12 !important;
  border:1px solid rgb(221, 105, 10);
}
.videos{
background: #dd4b39 !important;
  border:1px solid rgba(168, 29, 29, 0.734);
}




  iframe{
    height: 450px;
    width: 100% !important;

  }
  @media #{$moviles} {
    iframe{
      height: 150px !important;
      width: 100% !important;
    }
  }
