<mat-sidenav-container class="dash-wrapper">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <div class="logo" routerLink="inicio" style="cursor:pointer; outline-style:none !important">
      <img src="assets/imagenes/logo.png" alt="">
    </div>
    <!--<mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="inicio" class="opcion ptsans" style="margin-left:10px">
        <mat-icon>group_work</mat-icon>&nbsp;&nbsp;<strong>INICIO</strong>
      </a>
    </mat-nav-list>-->
    <mat-nav-list *ngIf="nivel==1">
      <a mat-list-item routerLinkActive="active" routerLink="usuarios" class="opcion ptsans" >
        <mat-icon>people</mat-icon>&nbsp;&nbsp;<strong>USUARIOS</strong>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="nivel==1">
      <a mat-list-item routerLinkActive="active" routerLink="artistas" class="opcion ptsans" >
        <mat-icon>stars</mat-icon>&nbsp;&nbsp;<strong>ARTISTAS</strong>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="nivel==1">
      <a mat-list-item routerLinkActive="active" routerLink="planillas" class="opcion ptsans" >
        <mat-icon>receipt</mat-icon>&nbsp;&nbsp;<strong>PLANILLAS</strong>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="nivel==2">
      <a mat-list-item routerLinkActive="active" routerLink="planilla" class="opcion ptsans" >
        <mat-icon>receipt</mat-icon>&nbsp;&nbsp;<strong>PLANILLAS</strong>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="nivel==1">
      <a mat-list-item routerLinkActive="active" routerLink="configuracion/videos" class="opcion ptsans" >
        <mat-icon>settings</mat-icon>&nbsp;&nbsp;<strong>CONFIGURACIÓN</strong>
      </a>
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <i class="glyphicon glyphicon-align-justify"></i>
      </button>
      <span class="relleno-espacio"></span>
      <button mat-button class="ocultar-moviles" [matMenuTriggerFor]="appMenu">
        <span class="ptsans">Bienvenido:&nbsp;&nbsp;
          <strong>{{usuario_logueado}}</strong>
        </span>
      </button>
      <!--<button mat-icon-button [matMenuTriggerFor]="appMenu">
        <i class="glyphicon glyphicon-cog"></i>
      </button>-->
    </mat-toolbar>

    <div class="component-outlet">
      <router-outlet></router-outlet>
    </div>
    <br>
    <br>
    <div class="footer">
        <strong>Aqui va el footer</strong>
     </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-menu #appMenu="matMenu">
  <!--<button mat-menu-item (click)="miPerfil()" class="ptsans">
    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; Mi Perfil</button>-->
  <button mat-menu-item (click)="salir()" class="ptsans">
    <i class="glyphicon glyphicon-log-out "></i>&nbsp;&nbsp; Salir</button>
</mat-menu>

