$moviles: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.dash-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.relleno-espacio {
  flex: 1 1 auto;
}

.sidenav{
  background: white;
  width: 250px;
  border: none;
  border-right: solid 2px #192755;
  box-shadow: 0px 2px 3px #192755;
  text-align: center;

  .logo{
    width: 80% !important;
    margin: 15px auto;
    text-align: center;

    img{
      width: 100%;
    }
  }

  .active{
    //background: rgba(255, 255, 255, 0.1);
    //background: #3F51B5;
    background: #192755;
    color:white;
  }

  .opcion:hover{
   // background: rgba(255, 255, 255, 0.1);
   background: #ccc;
  }

  .foto-perfil{
    width: 85%;
    margin: 30px auto 0px auto;
    margin-bottom: 0px;
  }

  .menu{
    list-style: none;
    margin: 20px;
    text-align: left;

    ul{list-style: none; padding: 0px;}

    .opciones{
      padding: 0px;
      margin: 0px;
      cursor: pointer;

      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.toolbar{
  background: #192755 !important;
  box-shadow: 0px 3px 3px #ccc;
  color:white !important;

}

.component-outlet{
  box-shadow: 0px 0px 3px #ccc;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: white;
}

.footer{
    padding:20px;
    border-top: 1px outset #ccc;
    background: #192755;
    color:white;
    position: static;
    bottom: 0;
    width:100vw;
}


@media #{$tablet} {
  .sidenav{
    width: 35% !important;
  }
}
@media #{$moviles} {
  .sidenav{
    width: 40% !important;
  }
}
