<titulo-seccion titulo="Registro de Usuario" anterior="/dash/usuarios" *ngIf="!item.idusuario"></titulo-seccion>
<titulo-seccion titulo="Edicion de Usuario" anterior="/dash/usuarios" *ngIf="item.idusuario"></titulo-seccion>


<form (ngSubmit)="guardar()">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field>
        <input matInput placeholder="CI" [(ngModel)]="item.ci" required  [formControl]="ci" name="ci">
        <mat-error *ngIf="ci.hasError('required')">
            El
            <strong>CI</strong> es requerido
          </mat-error>
      </mat-form-field>

    </div>
    <div class="col-md-3 ">
        <mat-form-field>
          <mat-select placeholder="Roles" [(ngModel)]="item.nivel"  name="nivel" >
            <mat-option  [value]="1" >Administrador</mat-option>
            <mat-option  [value]="2" >Usuario</mat-option>

          </mat-select>
        </mat-form-field>
      </div>
  </div>
  <div class="row">


    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="item.nombres" required  [formControl]="nombres" name="nombres">
        <mat-error *ngIf="nombres.hasError('required')">
          El
          <strong>nombre</strong> es requerido
        </mat-error>
        <mat-error *ngIf="!nombres.hasError('required')">
          Solo letras
        </mat-error>
      </mat-form-field>


    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Apellido  Paterno" [(ngModel)]="item.apaterno" required  [formControl]="apaterno" name="apaterno">
        <mat-error *ngIf="apaterno.hasError('required')">
          El
          <strong>apellido paterno</strong> es requerido
        </mat-error>
        <mat-error *ngIf="!apaterno.hasError('required')">
          Solo letras
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput placeholder="Apellido Materno" [(ngModel)]="item.amaterno" required  [formControl]="amaterno" name="amaterno">
        <mat-error *ngIf="amaterno.hasError('required')">
          El
          <strong>apellido materno</strong> es requerido
        </mat-error>
        <mat-error *ngIf="!amaterno.hasError('required')">
          Solo letras
        </mat-error>
      </mat-form-field>

    </div>
    <div class="col-md-3">
      <mat-form-field>
        <input matInput  type="number" placeholder="Celular" [(ngModel)]="item.celular" name="celular">
      </mat-form-field>

    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input matInput type="email" placeholder="Correo" [(ngModel)]="item.correo" required  [formControl]="correo" name="correo">
        <mat-error *ngIf="!correo.hasError('required')">
            El
            <strong>correo</strong> no es valido
          </mat-error>
      </mat-form-field>

    </div>
    <div class="col-md-3">

      <mat-form-field>
          <input matInput [(ngModel)]="item.clave" name="clave"
            placeholder="Clave:" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

        </mat-form-field>

    </div>
    <div class="col-md-12">
      <button class="btn btn-success pull-right" *ngIf="ci.valid && nombres.valid && apaterno.valid && amaterno.valid">Registrar</button>

    </div>
  </div>
</form>
