<br>
<h4> {{titulo}} </h4>
<hr>
<form (ngSubmit)="validar_accion()">
  <div class="row">

    <div class="col-md-12">
      <mat-form-field>
        <input matInput placeholder="Ingrese la cancion" [(ngModel)]="item.nombre" name="nombre">
      </mat-form-field>

    </div>
    <div class="col-md-12">
        <button class="btn btn-success pull-right">Registrar</button>

    </div>
  </div>
</form>
