@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$moviles: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
* {
  box-sizing: border-box;
}

.contenedor-principal{
  margin:5px;
}
body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
 // background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media #{$moviles}  {
  .nav-header > .nav-title{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    //right: 0px;
    left:0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 60%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; //0px
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    //text-align: right;
  }

  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    //height: calc(100vh - 50px);
    height: auto;
    overflow-y: auto;
  }

}




@font-face{
	font-family: PTSans;
	src: url(assets/fonts/ptsans.ttf);
}

body{
  font-family: 'PTSans' !important;
 // background: #29475F !important;
  // background-size: 25%;
}

.ptsans{
  font-family: 'PTSans' !important;
}

.nav-item{
  font-family: 'ptsans';
  font-size: 16px;
}



table thead tr th {
  vertical-align: middle !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  text-align: center !important;
}

table tbody tr td {
  vertical-align: middle !important;
}









h1, h2, h3, h4, h5, h6{margin: 0px !important; padding: 0px !important;}

.dashed{border-style: dashed !important; margin: 10px 0px !important;}
.seleccionable{cursor: pointer !important;}

.bg-primary{background: #428bca !important; color: white !important;}
.bg-success{background: #5cb85c !important; color: white !important;}
.bg-info{background: #5bc0de !important;}
.bg-ligth-danger{background: #f2dede !important;}
.bg-warning{background: #f0ad4e !important;}
.bg-danger{background: #d9534f !important; color: white !important;}

.panel-modal{width: auto;}
.panel-modal-30{width: 30%;}
.panel-modal-40{width: 40%;}
.panel-modal-50{width: 50%;}
.panel-modal-60{width: 60%;}

mat-form-field{
  margin: 5px 0px !important;
  width: 100% !important;
  font-family: 'PTSans' !important;
}
mat-panel-title{
  font-family: 'PTSans' !important;

}
mat-list-item, mat-option, mat-select, mat-tab-group, mat-tab, mat-tab-label, mat-card{
  font-family: 'PTSans' !important;
}

@media #{$moviles} {
  .panel-modal{
    width: 98% !important;
  }
}


/*----web----*/
.mov-header{
  display: none;

  .image-brand{
    text-align: center;
    img{
      height: 80px;
      width: 100%;

    }
  }

  .navbar{
    margin: 0px 5px 5px 5px;
  }
}
.zona-informacion{
  background: url('/assets/zona-roja.jpg');
  color: #FFD48C;
  //color:#192755; azul
  padding: 10px;
  font-size: 20px;
  margin-bottom:15px;

}

.zona-negra{
  background: url('/assets/zona-negra.jpg') center center;
  color: white;
  /*padding: 10px;*/
  font-size: 20px;
  //margin-bottom: 15px;
}
.zona-titulo{
 // background:  #9E1532;
  background: url('/assets/zona-roja.jpg') center center;
  color: #FFD48C !important;
  padding: 30px;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(27, 25, 25);
  text-align: center;
  letter-spacing: 3px !important;

}

.zona-titulo-sin-fondo{
  padding: 30px;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgb(27, 25, 25);
  text-align: center;
  letter-spacing: 3px !important;
  color:#9E1532 !important;

}
.zona-valores{
  // background:  #9E1532;
   background: url('/assets/zona-yellow.jpg') center center;





 }
 .zona-azul{
  // background:  #9E1532;
   background: url('/assets/zona-blue.png') center center;
 }
 .zona-contactano{
  background: url('/assets/zona-negra.jpg') center top;
 }
.zona-footer{
  // background:  #9E1532;
  background: url('/assets/zona-yellow.jpg') center center;
   /*color: #9E1532 !important;*/
   color:  black;
   padding: 30px;
   font-size: 15px;
   font-weight: bold;
   text-align: center;

   a{
   // color:#FFD48C !important;
   color:#9E1532 !important;
   padding: 7px;
    text-decoration: none !important;
    &:hover{
      background: rgba(255, 213, 140, 0.421);

    }
   }


 }
.wrapper{
  width: 80%;
  margin: 0px auto;
  padding: 15px 0px;
  font-size: 15px;
}
//SLIDER PRINCIPAL



.content-principal{
  height: 100%;
  width: 100%;

  .carousel{
    position: relative;

    .carousel-control{background: transparent !important;}
  }

  header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin-top: 20px !important;
    text-align: center;

    .header-desktop{
      display: flex;
      position: relative;
      flex-direction: row;
      align-items:center;
      width: 80%;
      margin: 0px auto;

      color: white;
      padding: 30px 0px 0px 0px;
      vertical-align: middle;

      .img-logo{
        height: 60px;
        margin-right: 450px;
      }

      .menu{
        /*flex-grow: 1;
        flex: 1 1 auto;*/
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
        width: 10px !important;
        cursor: pointer;
        -o-transition: all linear 0.2s;
        -webkit-transition: all linear 0.2s;

        &:hover{
          border-bottom: solid 3px white;
        }
      }

    }

    .header-movil{
      background: white;
      padding: 5px;
      text-align: center;

      .img-logo{
        width: 55%;
        margin: 10px auto;
      }
    }
  }

  .capa-degradado{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 25vh;
    display:none !important;
    background: rgba(0,0,0,0.85);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(231,56,39,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.85)), color-stop(100%, rgba(231,56,39,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(231,56,39,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(231,56,39,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(231,56,39,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%, rgba(231,56,39,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );
  }
}

.carousel-fade {
  .carousel-inner {
      .item {
          transition-property: opacity;
      }

      .item,
      .active.left,
      .active.right {
          opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
          opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
          left: 0;
          transform: translate3d(0, 0, 0);
      }

      .item{
          img{
              width: 100% !important;
              }
       }
  }

  .carousel-control {
      z-index: 2;
  }
}
@media #{$moviles} {
  .mov-header{display: block;}
  //header{display: none !important;}
  .panel-modal{
    width: 98% !important;
  }
  .zona-titulo{
    padding: 10px 30px !important;
    font-size: 36px !important;
  }
}
