<titulo-seccion titulo="Mis Usuarios"></titulo-seccion>

<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <input matInput placeholder="Realice busqueda por usuario u ci" [(ngModel)]="busqueda">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
  <div class="table-responsive">
    <table class="table table-striped" [mfData]="data | filtro:'texto_buscable':busqueda" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">

      <thead>
        <tr>
          <th width="3%">#</th>
          <th>CI</th>
          <th>USUARIO</th>
          <th >CELULAR</th>
          <th >CORREO</th>
          <th>TIPO USUARIO</th>

          <th width="5%"><a mat-mini-fab class="bg-success" routerLink="/dash/usuarios/registrar"
              title="Registrar">
              <mat-icon>add</mat-icon>
            </a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mf.data; let i=index" >
          <td align="center"><strong>{{i+1}}</strong></td>
          <td align="center" [routerLink]="['editar',item.idusuario]" style="cursor:pointer">{{item.ci}}</td>
          <td  [routerLink]="['editar',item.idusuario]" style="cursor:pointer">{{item.nombres}} {{item.apaterno}} {{item.amaterno}}</td>
          <td align="center" [routerLink]="['editar',item.idusuario]" style="cursor:pointer">{{item.celular}}</td>
          <td align="center" [routerLink]="['editar',item.idusuario]" style="cursor:pointer">{{item.correo}}</td>
          <td align="center" [routerLink]="['editar',item.idusuario]" style="cursor:pointer">
            <span *ngIf="item.nivel==1">Administrador</span>
            <span *ngIf="item.nivel==2">Usuario</span>
          </td>


          <td align="center">
            <a style="text-decoration: none; cursor:pointer;" [matMenuTriggerFor]="appMenu"
              [matMenuTriggerData]="{item: item}">
              <mat-icon>more_vert</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>


  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-item="item">
      <button [routerLink]="['editar',item.idusuario]" mat-menu-item>
        <mat-icon >mode_edit</mat-icon>
        <span>Editar</span>
      </button>
      <button (click)="eliminar(item.idusuario)" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
    </ng-template>
  </mat-menu>
