
.fondo{
  background-image: url(".../../../../assets/imagenes/fondo-login.jpg");
    /*background-image: url("/assets/imagenes/fondo-login.jpg");*/

  padding-top:150px;
  width: 100%;
  background-repeat: no-repeat;
  padding-bottom: 300px;
  margin: auto;
  background-size: cover;
  /*background: #b13e3b;*/

  height: 100vh;

}
